html {
	background-color: #3E3232;
	color: #A87C7C;
}

#main_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 2%;
}

.selector {
	padding: 0px 10px 0px 10px;
	border-radius : 8px;
	border: 1px solid #503C3C;
	background-color: #503C3C;
}

.selector:hover {
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#rule {
	margin: 3%;
	border: 2px solid #503C3C;
	
}

button {
	background-color: #7E6363;	
	color: #A87C7C;
	border: 0px;
	border-radius: 8px;
}

.selected {
	background-color: #3E3232;
}

.input {
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	color: #A87C7C;
}

a:visited {
	color: #503C3C;	
}

/* This is for the progress bar */
.container {
  background-color: #A87C7C;
	border-radius: 8px;
	width: 60%;
	height: 0.5rem;
}


.barCompleted {
  background-color: #503C3C;	
	border-radius: 8px;
	height: 0.5rem;
}

.label {
	display: none;
}

